@import url('reset.css');
@import url('default.css');

html {
    scroll-behavior: smooth;
}

.top {
    width: 100%;

}


.bunner {
    width: 100%;
    height: 400px;

    background-repeat: no-repeat;


    background-image: url('../img/bunner2.jpg');
    background-position: bottom;
    background-size: cover;

    background-attachment: fixed;
}





.top h1 {
    font-family: Zen Old Mincho;
    font-size: 24px;
    text-align: center;
    margin: 60px 0;

}

.top h2 {
    font-family: Zen Old Mincho;
    font-size: 24px;
    text-align: center;
    margin-bottom: 42px;
}

.main {}

.main h2 {
    font-family: Zen Old Mincho;

    font-size: 24px;
    text-align: center;
    margin-bottom: 42px;
    margin: 60px 0;
}

/*  */

.text-block {
    text-align: center;
    margin: 20px;

    font-family: Zen Old Mincho;
    line-height: 1.6;
    font-size: 18px;
    opacity: 0;
    transition: transform 0.5s ease;
}
@media screen and (max-width:820px){

    
    .top{
        padding-top: 60px;
    }
    .bunner{
        height: 250px;
    }
    .top h1{
        font-size: 16px;
    }
    .top h2{
        font-size: 16px;
    }
    .main h2{
        font-size: 16px;
    }
    .text-block{
        font-size: 12px;
    }
}
