@import url('reset.css');
@import url('default.css');

html {
    scroll-behavior: smooth;
}

.warrper {

    margin: 0 auto;
    text-align: center;
}

.warrper h1 {
    margin: 60px;
    font-family: Zen Old Mincho;
    text-align: center;
    font-size: 24px;

}

.warrper ul {
    justify-content: flex-start;

    margin: 0 auto;
    max-width: 1000px;
    ;
    gap: 10px 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.warrper li {

    border: 1.5px #c5c5c5 solid;
    text-align: center;
}

.warrper h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    color: #646464;
}

.warrper p {
    margin: 30px auto 50px;
    max-width: 600px;
    letter-spacing: 5px;

    font-size: 16px;
    text-align: center;
}

.warrper a {
    padding: 10px;
    display: block;
    text-decoration: none;

}

.warrper img {

    max-width: 300px;
    max-height: 300px;

    object-fit: contain;
}

/* portfolio-2 */


.portfolio {
    display: flex;
}


.portfolio li {
    box-shadow: 0 0 0 rgb(0, 0, 0, 0.0);
    transition: 0.5s;
}


.portfolio li:hover {

    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);


}

/* befor-after */
.picture {
    /* background-color: #6779CA; */

    background-image: url('../img/sofa/portfolio3-af.JPG');

    background-size: cover;
    margin: 50px auto;
    width: 800px;
    height: 550px;
    position: relative;
}

.cover {
    /* background-color: #646464; */
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;

    background-image: url('../img/sofa/portfolio3-bf.JPG');
}

.drag {
    position: absolute;
    background-color: #6779CA;
    width: 10px;
    height: 100%;
    left: 50%;
    top: 0;
    cursor: ew-resize;
}

.portfolio-2 {
    font-family: Zen Old Mincho;
    text-align: center;
}

.portfolio-2 h1 {
    font-size: 24px;
    text-align: center;
    margin: 60px;

}

.portfolio-2 h2 {
    font-size: 20px;
    margin-top: 60px;
    text-align: center;

}

.portfolio-2 p {
    font-size: 18px;
    margin: 30px auto;
    text-align: center;

    line-height: 30px;
}

.btn {
    display: inline-block;
}

@media screen and (max-width:820px) {
    .warrper {
        padding-top: 60px;

    }

    .warrper ul {

        max-width: 700px;

        justify-content: space-between;

        gap: 10px 25px;
    }

    .portfolio-2 {
        padding-top: 60px;
    }
    .warrper ul {
        justify-content: center;
    }
.picture{
    width: 90%;
}

}